[Desktop Entry]
Name=Actioneer
Comment=Manage GitHub Actions workflows from your desktop
Exec=actioneer
TryExec=actioneer
Icon=me.spaceinbox.actioneer
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=GitHub;Actions;CI;Workflow;Automation;
StartupNotify=true
X-GNOME-UsesNotifications=true
